// app global css in Stylus form

// Font Size
.fs-14 {
    font-size: 14px
}
.fs-10 {
    font-size: 10px
}

// Color
.black {
    color: black;
}
.white {
    color: white;
}

// Margin
.log-mar-bot {
    margin-bottom: 10px
}
.log-card {
    background-color:#ffc000
    border:2px solid #948654;    
    color: black;
}

//Background
.bg-primary {
    background-color: #948654    
}
.bg-secondary {
    background-color: #263238
}
// Header
.mar-head-sep {
    margin-left:5px;
    margin-right:5px;    
}
.back-head {
    background-color:#948654;
    height:45px;
}
.back-head2 {
    margin-top:45px;
}